<div class="container mt-4 col-md-4 offset-md-4">
  <div *ngIf="succes" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Radar added successfully !</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="card">
    <div class="card-header" style="background: #337ab7" >
      <h1 class="text-center" >Add New Radar</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="radarFormGroup" (ngSubmit)="handleAddRadar()">
        <div class="mb-3">
          <label class="form-label">MAX SPEED</label>
          <input type="text" formControlName="vitesseMax" class="form-control">
          <small *ngIf="radarFormGroup.controls['vitesseMax'].errors && radarFormGroup.controls['vitesseMax'].touched" class="text-danger">
            {{radarService.getErrorMessage("vitesseMax",radarFormGroup.controls['vitesseMax'].errors)}}
          </small>
        </div>
        <div class="mb-3">
          <label class="form-label">LONGITUDE</label>
          <input type="text" formControlName="longitude" class="form-control">
          <small *ngIf="radarFormGroup.controls['longitude'].errors && radarFormGroup.controls['longitude'].touched" class="text-danger">
            {{radarService.getErrorMessage("longitude",radarFormGroup.controls['longitude'].errors)}}
          </small>
        </div>
        <div class="mb-3">
          <label class="form-label">LATITUDE</label>
          <input type="text" formControlName="latitude" class="form-control">
          <small *ngIf="radarFormGroup.controls['latitude'].errors && radarFormGroup.controls['latitude'].touched" class="text-danger">
            {{radarService.getErrorMessage("latitude",radarFormGroup.controls['latitude'].errors)}}
          </small>
        </div>
        <div class="mb-3">
          <label class="form-label">IN SERVICE</label>&nbsp;&nbsp;&nbsp;
          <input type="checkbox" formControlName="state" class="form-check-input">
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <button [disabled]="!radarFormGroup.valid" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
